<div class="p-6">

    <div class="flex justify-between items-center mb-6 border-b pb-3">
        <h2 class="text-2xl font-bold text-gray-800 flex items-center">
            <i class="fas fa-chart-line text-blue-500 mr-3"></i> Dashboard: Visão Gráfica de Desempenho
        </h2>
        <button data-route="relatorios" class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded-lg shadow transition duration-300">
            <i class="fas fa-search-plus mr-1"></i> Ver Relatórios Detalhados
        </button>
    </div>
    
    </div>